[submodule "public"]
	path = public
	url = https://github.com/Macsim2/Macsim2.github.io.git
	branch = master
[submodule "hugo-clarity"]
	path = hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity.git
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity.git
